
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2'),;
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}
.body {
    font-family: "Cera Pro","Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1220px;
    min-width: 991px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 12px;
    padding-bottom: 17px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.header img {
    display: block;
}
.menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}
.menu > li {
    padding: 0 25px;
    position: relative;
}
.menu > li > a {
    color: #3D3D3D;
    text-decoration: none;
    padding-bottom: 25px;
}
.menu > li > a:hover {
    border-bottom: 3px solid #46a358;
}


.menu ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 45px;
    width: 188px;
    background-color: #EDF6EE;
}
.menu ul li {
    padding-left: 7px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
}
.menu li:hover ul {
    display: block;
}
.menu ul a {
    text-decoration: none;
    color: #3D3D3D;
}
.menu ul a:hover {
    color: #46A358;
}


.glass {
    margin-right: 30px;
}
.basket {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 35px;
    position: relative;
}

.count {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #46A358;
    position: absolute;
    border: 2px solid white;
    right: -5px;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    color: #ffffff;
    background-color: #46a358;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    /* background-image: url('../img/logout.svg');
    background-repeat: no-repeat;
    background-position: left center; */
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 17px;
    padding-left: 22px;
    display: inline-flex;
}
.login svg {
    text-align: center;
    margin-right: 4px;
}
.welcome {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}
.welcome-info {
    padding-top: 68px;
    padding-left: 40px;
    padding-bottom: 85px;
}
.welcome-welcome-to {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-bottom: 7px;
}
.welcome-info h1 {
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.planet {
    color: #46A358;
}
.welcome-description {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    padding-right: 113px;
    padding-bottom: 44px;
}
.shop-now-link {
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 11px 27px 9px 26px;
}
.catalog {
   margin: 0 -10px;
   display: flex;
   justify-content: space-between;
}
.left-box {
    width: 25%;
    max-height: 1244px;
    padding: 0 10px 230px;
}
.catalog-category {
    padding: 14px 22px 7px 16px;
    background-color: #FBFBFB;
}
.category-title {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px; 
}
.category-list ul {
    padding-left: 10px;
    padding-right: auto;
}
.category-list li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.category-list a {
    color: #3D3D3D;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}
.category-list a:hover {
    color: #46A358;
}
.right-box {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0 10px 100px;
}
.right-box-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.navigation {
    display: flex;
    padding: 0;
    list-style: none;
}
.navigation a {
    color: #3d3d3d;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 40px;
    padding-bottom: 7px;
}
.navigation a:hover {
    color: #46a358;
    border-bottom: 2px solid #46a358;
}
.sorting {
    color: #3D3D3D;
    display: flex;
    align-self: center;

}
.sorting p {
    padding-right: 9px;
}
.sorting a {
    color: inherit;
background-image: url(../img/arrow.svg);
background-repeat: no-repeat;
background-position: right center;
padding-right: 20px;
text-decoration: none;
}
.cards {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
} 
.cards-outside {
    width: 33.333%;
    padding: 0 10px 70px;
}
.cards-inside h3 {
    color: #3D3D3D;
    font-weight: 400;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 6px;
  }
.price {
    color: #46A358;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
  }
.price s {
    color: #CBCBCB;
    padding-left: 17px;
}
.icons {
    background-color: #fbfbfb;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.cards-inside {
    position: relative;
    border-top: 1px solid transparent;
}
.box-share {
    width: 134px;
    display: none;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 57px;
}
.box-share-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-share-btn:hover path {
    fill:#46A358;
}
.cards-inside:hover .box-share {
    display: flex;
}

.cards-inside:hover {
    border-top-color: #46A358;
}
.sale-off {
    color: #FFFFFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #46A358;
    padding: 7px 8px 6px 9px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
}
.right-box-list {
    margin-top: 20px;
    margin-left: auto;
}
.list {
    display: flex;
}
.list li {
    list-style-type: none;
    }
.list a {
      display: inline-block;
      width: 35px;
      height: 35px;
      color: #3D3D3D;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      text-decoration: none;
      margin-left: 10px;
      text-align: center;
      padding-top: 9px;
}
.list a:hover {
      font-weight:bold;
      color: #FFFFFF;
      background-color:#46A358;
}
.list a:hover path {
    stroke: #FFFFFF;
}



.top-part {
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
}
.top-article {
    /* background-image: linear-gradient(#FFFFFF 16%, #FBFBFB 16%); */
    width: 50%;
    padding: 0 10px;
}
.top-article-inside {
    height: 302px;
    display: flex;
    background-color: #FBFBFB;
}
.top-description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 60px 20px auto;
}
.top-description h3 {
    max-width: 180px;
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.top-description p {
    color: #727272;
    text-align: right;
    font-size: 14px;
    margin-bottom: 25px;
}
.top-description button {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background: #46A358;
    padding: 12px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-button svg {
    margin-left: 5px;
}
.bottom-part {
    height: 447px;
    margin-top: 138px;
}
.bottom-part h2 {
    color: #3D3D3D;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
}
.bottom-propose {
    color: #727272;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 35px;
}
.bottom-article {
    margin: 0 -10px;
    display: flex;
}
.bottom-information {
    width: 25%;
    padding: 0 10px;
}
.bottom-information-inside {
    background: #FBFBFB
}
.bottom-information-inside img {
    display: block;
}
.bottom-text {
    padding: 9px 11px 12px 15px;
}
.bottom-date {
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 4px;
}
.bottom-information h3 {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 4px;
}
.bottom-article-text {
    color: #727272;
    line-height: 22px; 
    padding-bottom: 9px;
}
.bottom-information a {
    display: inline-flex;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bottom-information a:hover {
    color: #46A358;
}
.bottom-information a:hover path{
    fill: #46A358;
}
.bottom-information svg {
    margin-left: 5px;
}